
@{
    ViewBag.Title = "SeattleHome";
}

<h2>Seattle Home</h2>

<body>
    <p>Welcome.</p>
    @Html.ActionLink("Employees", "EmployeeIndex") <br />
    @Html.ActionLink("Work Orders", "WorkIndex") <br />
    @Html.ActionLink("Clients", "Index")
</body>