
@{
    ViewBag.Title = "About";
}

<h1>About Northwest Labs</h1>

<div class="jumbotron">
    <h3>Our Mission</h3>
    <ul>
        <li>
            Here at Northwest Labs we strive to get the precise, well documented and accurately reported results that you need.
        </li>
        <li>
            We process every order like it is our only order because we beleive that our customers deserve the highest quality results.
        </li>
        
    </ul>
</div>

<h1>Contact Us</h1>

<div class="jumbotron">
    <ul>
        <li>
            Call Us: 801-641-5540            
        </li>
        <li>
            Email Us: info@northwestlabs.net
        </li>
        <li>
            Create an Account Today!
        </li>
    </ul>
</div>



