@model NorthWestLabs.Models.Client

@{
    ViewBag.Title = "LogInClient";
}

<body style="background-image: url(../../Content/Images/hans-reniers-lQGJCMY5qcM-unsplash.jpg); background-size: cover;">
    <div class="jumbotron">
        <center>
            <h1>Client Log In</h1>
            <hr />

            @using (Html.BeginForm("ClLogin", "Home", FormMethod.Post))
            {
                <label for="inputEmail">Email address</label><br />
                @Html.TextBox("Email address")
                <br />
                <label for="inputPassword">Password</label><br />
                @Html.Password("Password")
                <br /><br />
                <button type="submit" class="btn btn-primary btn-lg">Login</button>

            }
        </center>
    </div>
</body>
