
@{
    ViewBag.Title = "EmpLogin";
}


<body style="background-image: url(../../Content/Images/hans-reniers-lQGJCMY5qcM-unsplash.jpg); background-size: cover;">
    <div class="jumbotron">
        <center>
            <h1>Employee Login</h1>
            <hr />

            @using (Html.BeginForm("EmpLogin", "Home", FormMethod.Post))
            {
                <p class="text-danger">@ViewBag.Valid</p>
                <label for="inputEmail">Employee ID</label><br />
                @Html.TextBox("Employee ID")
                <br />
                <label for="inputPassword">Password</label><br />
                @Html.Password("Password")
                <br /><br />
                <button type="submit" class="btn btn-primary btn-lg ">Login</button>

            }
        </center>
    </div>
</body>