
@{
    ViewBag.Title = "EmpLogin";
}

<h2>Employee Login</h2>


@using (Html.BeginForm("EmpLogin", "Home", FormMethod.Post))
{
    <label for="inputEmail">Employee ID</label>
    @Html.TextBox("Employee ID")
    <br /><br />
    <label for="inputPassword">Password</label>
    @Html.Password("Password")
    <br /><br />
    <!--
    <label for="inputLocation">Choose Location</label>
    <select class="form-control" name="Location" required>
        <option hidden="">Select Location</option>
        <option value="1">Singapore</option>
        <option value="2">Seattle</option>
    </select>
    -->
    <br /><br />
    <button type="submit">Login</button>
}