
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("About Page", "About")
<br />

@Html.ActionLink("Pricing Info", "Pricing")
<br />

@Html.ActionLink("Log In", "LogIn")
<br />

@Html.ActionLink("Create Profile", "CreateProfile")
<br />


