
@{
    ViewBag.Title = "Index";
}

<body>
    <!-- Header -->
    <header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
        <img class="w3-image" src="~/Content/Images/hans-reniers-lQGJCMY5qcM-unsplash.jpg" alt="Chemicals" width="1500" height="800">
        <div class="w3-display-middle w3-margin-top w3-center">
            <h1 class="w3-xxlarge w3-text-black"><span class="w3-padding w3-black w3-opacity-min"><b>NW</b></span> <span class="w3-hide-small w3-text-black">Northwest Labs</span></h1>
        </div>
    </header>

    <!-- Page content -->
    <div class="w3-content w3-padding" style="max-width:1564px">
        <!-- About Section -->
        <div class="w3-container w3-padding-32" id="about">
            <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
            <p>
                Here at Northwest Labs we strive to get the precise, well documented, and accurately reported results that you need. We process every order like it is our only order because we beleive that our customers deserve the highest quality results.
                Our committment is to our clients.
            </p>
        </div>

        <div class="w3-row-padding w3-grayscale">
            <div class="w3-col l3 m6 w3-margin-bottom">
                <img src="~/Content/Images/gary.jpg" alt="Gary Anderson" style="width:100%">
                <h3>Gary Anderson</h3>
                <p class="w3-opacity">CEO & Founder</p>
                <p><input value="Create New Profile" type="button" class="w3-button w3-light-grey w3-block" onclick="location.href='@Url.Action("CreateProfile")'" /></p>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
                <img src="~/Content/Images/dallin.jpg" alt="Dallin Fairbanks" style="width:100%">
                <h3>Dallin Fairbanks</h3>
                <p class="w3-opacity">Singapore Operations</p>
                <p><input value="See Pricing" type="button" class="w3-button w3-light-grey w3-block" onclick="location.href='@Url.Action("Pricing")'" /></p>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
                <img src="~/Content/Images/bonnie.jpg" alt="Bonnie McDougal" style="width:100%">
                <h3>Bonnie McDougal</h3>
                <p class="w3-opacity">Sales Director</p>
                <p><input value="Request Price Quote" type="button" class="w3-button w3-light-grey w3-block" onclick="location.href='@Url.Action("AddQuote")'" /></p>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
                <img src="~/Content/Images/mason.jpg" alt="Mason Brockbank" style="width:100%">
                <h3>Mason Brockbank</h3>
                <p class="w3-opacity">Pharmeceutical Director</p>
                <p><input value="Login" type="button" class="w3-button w3-light-grey w3-block" onclick="location.href='@Url.Action("Login")'" /></p>
            </div>
        </div>
    </div>
</body>
