
@{
    ViewBag.Title = "Thanks";
}

<body style="background-image: url(../../Content/Images/hans-reniers-lQGJCMY5qcM-unsplash.jpg); background-size: cover;">
    <div class="jumbotron">
        <h2>Thank you!</h2>
        @Html.Raw(ViewBag.Thanks)
        <br />
        @Html.ActionLink("Back to Home", "Index", null, new { @class = "btn btn-primary btn-lg" })
    </div> 
    
</body>

